[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Dependencias de producción
numpy = "*"
pandas = "*"

[dev-packages]
# Herramientas de desarrollo
black = "*"
mypy = "*"
ruff = "*"
pre-commit = "*"
jupyter = "*"
ipykernel = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
format = "black ."
lint = "ruff check ."
typecheck = "mypy ."
test = "pytest" 